@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 80px;
    padding-bottom: 20px;
  }
  .text_container {
    padding-right: 60px;
    padding-bottom: 20px;
  }
}
@media (max-width: 801px) {
  .text_container {
    padding-inline: 80px;
    padding-bottom: 20px;
  }
  main {
    margin-inline: 0;
  }
}

h1 {
  padding-bottom: 60px;
}

.overskrift {
  font-weight: bold;
  padding-bottom: 2rem;
}

p {
  letter-spacing: 0.0555556em;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 35px;
}

.billede {
  padding-top: 0.5rem;
  padding-inline: 60px;
  padding-bottom: 20px;
}
