/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************** img *********************/

img {
  width: 100%;
  display: block;
}

/*************** body *********************/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: brandon-grotesque, sans-serif;
}

/*************** main *********************/

main {
  max-width: 1200px;
  margin-inline: auto;
}

h1 {
  font-style: normal;
  font-weight: 300;
}

h3 {
  font-style: normal;
  font-weight: 100;
}
