@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .text_container {
    padding-right: 60px;
    padding-bottom: 20px;
  }
}
@media (max-width: 801px) {
  .text_container {
    padding-inline: 80px;
    padding-bottom: 20px;
  }
}

p {
  letter-spacing: 0.0555556em;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 35px;
}

.billede {
  padding-inline: 80px;
  padding-bottom: 20px;
  padding-top: 0.5rem;
}

h1 {
  padding-bottom: 60px;
}
